.reservation {
  /*background-color: pink;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80vh;
  width: 90%;
  max-width: 144rem;
  margin: auto;
}

.reservation-p {
  /*background-color: red;*/
  display: block;
  font-size: 4rem;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin: 0;
  padding-left: 1.5rem;
}

.reservation-frame {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .reservation {
    height: 100%;
  }
  .reservation-frame {
    height: 75vh;
  }
}

@media (max-width: 576px) {
  .reservation {
    width: 100%;
  }
  .reservation-p {
      display: none;
  }
  .reservation-frame {
    border: none;
  }
}

@media (min-width: 1680px) {
  .reservation {
    max-width: none;
  }
  .reservation-p {
    font-size: 6rem;
  }
}



