.date {
    margin-bottom: 2.2rem;
}

.day {
    margin-right: 1.2rem;
}

.month {
    margin-right: 1.2rem;
}

/* MEDIA QUERIES */

@media (min-width: 1680px) {
    .date {
        margin-bottom: 4rem;
    }
    .date select {
        /*background-color: palevioletred;*/
        height: 4rem;
        font-size: 2rem;
        text-align-last: center;
    }
    .day select {
        width: 3rem;
    }
    .month select {
        width: 11rem;
    }
    .year select {
        width: 6rem;
    }
}