.input {
    /*background-color: darkseagreen;*/
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.input-img {
    /*background-color: grey;*/
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 3rem;
}

.input-element {
    /*background-color: pink;*/
    border: none;  
}

.input-element::placeholder {
    color: rgb(158, 158, 158, .7);
}

