.input {
    margin-bottom: 2.2rem;
}

.input-element {
    /*background-color: pink;*/
    border: none;  
}

.input-element::placeholder {
    color: rgb(158, 158, 158, .7);
}

/* MEDIA QUERIES */

@media (min-width: 1680px) {
    .input {
        /*background-color: orange;*/
        margin-bottom: 4rem;
    }
    .input-element {
        /*background-color: pink;*/
        height: 5rem;
        width: 80%;
    }
    .input-element::placeholder {
        font-size: 2rem;
    }
}

