.menu {
    background-color: #E9CCA1;
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    border: 1.5rem solid white;
    z-index: 100;
}

.menu-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    list-style: none;
    width: 33%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.menu-item h4 {
    color: black;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 2rem;  
}

.menu-link {
    text-decoration: none;
}

.menu-link img:hover {
    transform: scale(1.05);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .menu-list {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .menu-item {
        width: 50%; 
    }
}

@media (min-width: 2560px) {
    .menu-list {
        width: 50%; 
    }
    .menu-item {
        width: 33%;
        padding-bottom: 7rem;
        
    }
    .menu-item img {
        width: 35%;
    }
    .menu-item h4 {
        font-size: 2.8rem;
        margin-top: 4rem;  
    }
}