.form {
    /*background-color: darksalmon;*/
    padding-top: 3rem;
}

.people {
    background-color: gold;
}

.people::before {
        content: "";
        
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url("../../assets/svg/guests.svg") center / contain no-repeat;
      
}

.confirm-btn {
    /*background-color: gold;*/
    display: block;
    margin: 1.5rem auto;
}