.nav-icon {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 1680px) {
    .nav-icon svg {
        /*background-color: red;*/
        height: 8rem;
        width: 8rem;
    }  
}

