.arrow {
    height: 3rem;
    width: 3rem;
}

.left {
    transform: rotate(180deg);
}

/* MEDIA QUERIES */

@media (min-width: 2560px) {
    .arrow {
        height: 5.5rem;
        width: 5.5rem;
    }
}