.restaurant-view-mobile {
    /*background-color: darkorange;*/
    height: 35rem;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.restaurant-view-mobile-infos-layout {
    /*background-color: darkviolet;*/
    height: 70%;
    width: 100%;
}

.restaurant-view-mobile-booking-link {
    position: absolute;
    left: 20%;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
    .restaurant-view-mobile-infos-layout {
        margin-bottom: 3rem;
    }
}

