.restaurant-view {
    /*background-color: yellow;*/
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.restaurant-view-title {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.restaurant-view-title span {
    color: rgba(0, 0, 0, .7);
}

.restaurant-view-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.restaurant-view-img {
    height: 100%;
    width: 100%;
}

.restaurant-view-infos-layout {
    background-color: white;
    position: absolute;
    height: 90%;
    width: 87%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    outline: 3px solid white;
    outline-offset: .4rem;
    padding: 2rem;
}

.restaurant-view-infos-layout p {
    display: none;
}

.restaurant-view-infos-layout aside {
    line-height: 2rem;
}



















