.reservation-user {
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.reservation-main {
    /*background-color: cyan;*/
    display: flex;
    flex-direction: column;
    width: 60%;
}

.reservation-presentation {
    /*background-color: peru;*/
    padding: 8rem 9rem 0 3rem;
}

.reservation-form {
    /*background-color: lightseagreen;*/
    margin: 3rem 0;
}

.reservation-btn {
    /*background-color: crimson;*/
    width: 21.6%;
    margin: 3.6rem auto;
}

.reservation-map {
    position: relative;
    width: 40%;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .reservation-user {
        /*background-color: pink;*/
        flex-direction: column;
    }
    .reservation-main {
        /*background-color: cyan;*/
        width: 100%;
    }
    .reservation-presentation {
        /*background-color: yellow;*/
        display: flex;
        flex-direction: row;
    }
    .reservation-description {
        /*background-color: yellow;*/
        margin-right: 4rem;
    }
    .reservation-form {
        /*background-color: lightseagreen;*/
        margin-top: 0;
    }
    .reservation-btn {
        /*background-color: crimson;*/
        width: 25.4%;
        margin: 0rem auto 4rem auto;
    }
    .reservation-map {
        height: 35rem;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .reservation-presentation {
        /*background-color: yellow;*/
        flex-direction: column;
        padding: 3rem 0 0 3rem;
    }
    .reservation-form {
        /*background-color: darkolivegreen;*/
        margin: 3rem 0;
    }
    .reservation-btn {
        /*background-color: crimson;*/
        width: 39%;
        margin: 0 0 4rem 3rem;  
    }
}