.reservation {
    /*background-color: gold;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 1.5rem auto;
}

.reservation-p {
    /*background-color: pink;*/
    font-size: 4rem;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    margin: 0;
    padding-left: 1.5rem;
}

.reservation-frame {
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
}

.reservation-user {
    width: 50%;
    padding: 4rem 3rem;
}