.carrousel {
    /*background-color: pink;*/
    position: relative;
    height: 100vh;
    width: 100%;
}

.carrousel-main {
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 35%;
}

.carrousel-item:nth-child(2) {
    margin-left: 1.5rem;
    margin-right: .5rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .carrousel {
        width: 100%;
    }
    .carrousel-main {
        width: 90%;
    }
}


