.carrousel {
    height: 100%;
    width: 100%;
}

.carrousel-main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 24rem);
    margin: auto;
    width: fit-content;
}

.carrousel-view-item {
    display: flex;
    flex-direction: row;
}

.carrousel-view-title {
    color: rgba(0, 0, 0, .7);
    height: fit-content;
    margin-bottom: auto;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    cursor: pointer;
}

.carrousel-view-title span {
    color: rgba(0, 0, 0, .7);
    font-size: 1.6rem;
    margin-bottom: .7rem;
}

.active-title {
    font-size: 4rem !important;
    margin-right: 1.5rem !important;
}

.active-title span {
    font-size: 2.2rem !important;
    margin-bottom: 1rem !important;
}

.carrousel-view-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: .5rem;
    overflow: hidden;
}

.carrousel-view-img {
    position: absolute;
    height: 100%; 
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.carrousel-view-img-wrapper {
    display: none;
    position: relative;
    height: 100%;
    width: 50rem;
}

.active-wrapper {
    display: block !important;
}

.carrousel-view-infos-layout {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

.active-layout {
    display: block !important;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .carrousel {
        height: 75vh;
        width: 100%;
    }
    .carrousel-main {
        width: 85%;
    }
    .carrousel-view-title { 
        font-size: 3.5rem;
    }
    .carrousel-view-title span {
        font-size: 2.6rem;
    }
    .active-title {
        font-size: 4.5rem !important;
    }
    .active-title span {
        font-size: 3.2rem !important;
    }
}

@media (min-width: 2560px) {
    .carrousel-main {
        height: calc(100vh - 40rem);
        width: 50%;
    }
    .carrousel-view-title {
        font-size: 6rem;
    }
    .carrousel-view-title span {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .active-title {
        font-size: 8rem !important;
        margin-right: 1.5rem !important;
    }
    .active-title span {
        font-size: 5rem !important;
        margin-bottom: 2.5rem !important;
    }
    .carrousel-view-img-wrapper {
        width: 100rem;
    }
}


