.header {
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 4.5rem 0;
}

.logo {
    background-color: yellow;
}

