.header {
    /*background-color: rosybrown;*/
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    width: 100%;
    padding: 4.5rem;
    z-index: 200; 
}

.logo {
    /*background-color: yellow;*/
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
    .header {
        flex-direction: row-reverse;
        width: 100%;
        padding: 4.5rem 3rem;
    }
    .link {
        display: none;
    }
}

@media (min-width: 1680px) {
    .header {
        height: 20rem;
        padding: 10rem;
    }
    h1 img {
        height: 15rem;
        width: 30rem;
    }
}

