.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.map::before {
    content: "";
    background-color: rgba(233,	204, 161, .4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: color;
    z-index: 10;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .map {
        /*background-color: pink;*/
        height: 100%;
        width: 100%;
        bottom: 0;
    }
}

@media (max-width: 576px) {
    .map {
        height: 100%;
    }
}

