.button {
    /*background-color: pink;*/
    display: block;
    color: #9E9E9E;
    font-size: 1.2rem;
    padding: 0 0;
}

.button:hover {
    color: #E9CCA1;
    border-bottom: 1px solid #E9CCA1;
}