.footer {
    /*background-color: plum;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    width: 100%;
    padding: 4.5rem;
}

.footer p {
    font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .footer {
        margin-top: auto;
    }
}

@media (max-width: 576px) {
    .footer {
        width: 100%;
        padding: 0 3rem;
    }
}

@media (min-width: 1680px) {
    .footer {
        height: 20rem;
        padding: 10rem;
    }
    .footer p {
        font-size: 2.5rem;
    }
    .footer img {
        height: 5rem;
        width: 5rem;
    }
}
