.guests {
    margin-bottom: 2.2rem;
}

.guests-count {
    /*background-color: lightsalmon;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: .6rem;
    width: 4rem;
}

.minus {
    color: #A66D03;
    font-size: 1.4rem;
    cursor: pointer;
}

.number {
    font-size: 1.4rem;
}

.plus {
    color: #A66D03;
    font-size: 1.4rem;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 1680px) {
    .guests {
        margin-bottom: 4rem;
    }
    .guests-count {
        line-height: .6rem;
        width: 8rem; 
    }
    .minus, 
    .plus {
        font-size: 3rem;
    }
    .number {
        font-size: 2rem;
    }
}