.guests {
    /*background-color: lightblue;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.5rem;
}

.guests-img {
    /*background-color: grey;*/
    height: 2.5rem;
     width: 2.5rem;
    margin-right: 3rem;
}

.guests-count {
    /*background-color: lightsalmon;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: .6rem;
    width: 4rem;
}

.minus {
    color: #A66D03;
    font-size: 1.4rem;
    cursor: pointer;
}

.number {
    font-size: 1.4rem;
}

.plus {
    color: #A66D03;
    font-size: 1.4rem;
    cursor: pointer;
}