.slider {
    /*background-color: green;*/
    position: relative;
    display: block;
    height: 100vh;
    width: 100%; 
}

.slider-arrows {
    /*background-color: red;*/
    position: absolute;
    height: 3rem;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-arrow-right {
    position: absolute;
    right: 5%;
}

.slider-arrow-left {
    position: absolute;
    left: 4.5%; 
}

.slider-arrow-right::before,
.slider-arrow-left::before {
    background-color: #E9CCA1;
    content: "";
    position: absolute;
    height: 6rem;
    width: 6rem;
    top: -1.5rem;
    left: -1.5rem;
    border-radius: 50%;
    z-index: -1;
}

.slider-items {
    /*background-color: mediumblue;*/
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.slider-items-child {
    height: 60rem;
    min-width: 20vw;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .slider {
        display: none;
    }
}

@media (min-width: 1680px) {
    .slider {
        background-color: green;
    }
    .slider-items {
        /*background-color: mediumblue;*/
      
        height: 100vh;
        
    }
}
  

